*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#pic img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 600px;
  z-index: 1;
}
#gamePad{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 600px;
  padding: 20px;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(10 , 56px);
}

.box{
  border: 1px solid aquamarine;
}


#player1{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 20px;
  height: 20px;
  background-color: gold;
  border: solid 3px black;
  border-radius: 50%;
  z-index: 1000;
  transition: 1s;
}
#player2{
  width: 20px;
  height: 20px;
  background-color: rgb(0, 255, 21);
  border: solid 3px black;
  border-radius: 50%;
}